.toptxt{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: azure;
    text-align: right;
    font-style: italic;
}

.title{
    font-style: italic;
    background-color: black;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titlesub{
    color:red;
    text-align: left;
    background-color: beige;
    font-variant: small-caps;
    padding-left: 5px;
}


h3{
    text-decoration: underline;
    background-color: antiquewhite;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

}

ul{
    font-style: italic;
}

li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button{
    background-color: #666666;
    color:whitesmoke;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}